<%#= eval(@setlistfm_data)['setlists']['setlist'][1]['sets']['set']['song'] %> 





<% k = 0 %>
<% while k < eval(@setlistfm_data)['setlists']['setlist'].length do %>

<%= eval(@setlistfm_data)['setlists']['setlist'][k]['@eventDate'] %>
<br>
<%= eval(@setlistfm_data)['setlists']['setlist'][k]['@tour'] %>
<br>
<%= eval(@setlistfm_data)['setlists']['setlist'][k]['venue']['@name'] %>
<br>
<%= eval(@setlistfm_data)['setlists']['setlist'][k]['venue']['city']['@name'] %>
<br>
<%= eval(@setlistfm_data)['setlists']['setlist'][k]['venue']['city']['@state'] %>
<br>
<%= eval(@setlistfm_data)['setlists']['setlist'][k]['venue']['city']['@stateCode'] %>
<br>
<%= eval(@setlistfm_data)['setlists']['setlist'][k]['venue']['city']['coords']['@lat'] %>
<br>
<%= eval(@setlistfm_data)['setlists']['setlist'][k]['venue']['city']['coords']['@long'] %>
<br>

<% if eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set'].instance_of?(Array) %>

    <% j = 0 %>
    <% while j < eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set'].length-1 do %>
    <%= eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set'][j]['@name'] %>

    <% i = 0 %>
        <% while i < eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set'][j]['song'].length do %>
        <%= eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set'][j]['song'][i]['@name'] %> <br>
        <% if (eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set'][j]['song'][i]['cover'] != nil ) %>
        <span>-----</span><%= eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set'][j]['song'][i]['cover']['@name'] %> <br>
          <% end %> <!-- end if -->

    <% i += 1 %>
    <% end %>

    <% j += 1 %>
    <% end %>
                <%= eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set'][j]['song'] %> 


  <% else %>
    <% if eval(@setlistfm_data)['setlists']['setlist'][k]['sets'].instance_of?(String) %>

  <% else %>
      <% if eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set'].instance_of?(Hash) %>

        <% i = 0 %>
            <% while i < eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set']['song'].length do %>
            <%= eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set']['song'][i]['@name'] %> <br>
            <% if (eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set']['song'][i]['cover'] != nil ) %>
            <span>-----</span><%= eval(@setlistfm_data)['setlists']['setlist'][k]['sets']['set']['song'][i]['cover']['@name'] %> <br>
        <% end %> <!-- end if -->
        <% i += 1 %>
        <% end %>

    <% end %> <!-- end if -->
  <% end %> <!-- end if -->

<% end %> <!-- end if -->

<br>
<br>
<br>

<% k += 1 %>

<% end %>













