<!DOCTYPE html>
<html>
<head>
  <title> <%= content_for?(:title) ? yield(:title) : "DeadMusic" %> </title> 
  <meta name="description" content =" <%= content_for?(:description) ? yield(:description): "DeadMusic" %>" >
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <header>
    </header>
    <main role="main">
      <%= yield %>
    </main>
    <footer>
    </footer>
  </div>
</body>
</html>
